<div class="heading" style="padding-left: 2.5rem; padding-top: 7rem !important; padding-right: 2.5rem; text-transform: capitalize;">
  Welcome to Generative AI
</div>
<div class="header pb-12 pt-5 pt-md-4">
  <div class="container-fluid">
    <!-- <div class="header-body"> -->
      <!-- Card stats -->
      <div class="row" >
        <div class="col-md-6 col-lg-3" *ngFor='let blogcard of blogcards'>
          <div class="card">
            <div class="card hvr-sweep-to-left" (click)="navigateTo(blogcard.route)">
            <div class="card-body"> 
                  <h4 class="card-title">{{blogcard.title}}</h4>
                  <div class="img"> 
                    <img style="width: 52px;
                    /* margin-top: -14px; */
                    background: transparent;
                " [src]=blogcard.image alt="blogs">
                  </div>
                 
                  <div class="subtitle">
                    <h6 class="card-subtitle">{{blogcard.subtitle}}</h6>
                </div>
             
            </div>
            </div>
          </div>
        </div>
       
      </div>
    <!-- </div> -->
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-6 col-lg-3" *ngFor='let blogcard of blogcards'>
      <div class="card">
          
           <div class="card hvr-sweep-to-left" (click)="navigateTo(blogcard.route)">
              
          <div class="card-body">
              <h4 class="card-title">{{blogcard.title}}</h4>
             
              
              <div class="subtitle">
                  <h6 class="card-subtitle">{{blogcard.subtitle}}</h6>
             
              </div>
             
          </div>
      </div>
      </div>
  </div>
</div> -->